// all
$borderRadius: 4px;
$boxShadowOne: 0px 2px 5px rgba(0, 0, 0, 0.1);
$boxShadowTwo: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
$boxShadowThree: 0px 2px 4px rgba(0, 0, 0, 0.1);
$colorOne: #3F3F3F;

// button
$backgroundButton: #EEEEEE;
$backgroundButtonActive: #7BAE73;
$colorButton: #B4B4B4;
$colorButtonActive: #FFFFFF;

// form
$colorInputDiscription: #49485E;
$backgroundInput: #FFFEFB;
$colorPlaceholderInput: #B4B4B4;
$сolorInputWarn: #FF8484;

// select
$backgroundSelect: #FFFEFB;

// popup
$backgraundPopUp: rgba(229, 229, 229, .3);
$backgraundPopUpMessage: rgba(218, 217, 217, .7);

// card
$backgroundItem: #FFFEFB;
$backgroundDelete: #FF8484;

// spinkit
$spinkit-size: 50px;
$spinkit-backgruond: rgb(204, 204, 204);
$spinkit-spinner-color: rgb(135, 133, 133);

$circleCount: 12;
$animationDuration: 1.2s;
