@charset "UTF-8";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.429;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
}

body {
  margin: 0;
  padding: 0;
  background: #E5E5E5;
  color:#3F3F3F;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.container {
  position: relative;
  padding: 32px 16px;
}